::-webkit-scrollbar
{
    width: 2px;
}

::-webkit-scrollbar-corner
{
    background: transparent;
    color: transparent;
}

div.opt
{
    display: flex;
    max-width: 600px;
    padding: 20px 5px 5px 5px;
    height: 60px;
    border-left: 1px solid var(--cor2);
    border-right: 1px solid var(--cor2);
    margin: auto;

    overflow: scroll;
}

button.botaoOPT
{
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor2);
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
    width: 95px;
    height: 40px;
}

button.botaoOPT:hover
{
    background-color: var(--cor2);
}

div.resultados
{

    border-top: 1px solid var(--cor2);
    text-align: center;
    padding: 10px 5px 20px 5px;
    max-width: 800px;
    margin: 10px auto auto auto;
}

div.container
{
    margin: auto;
    padding: 0px 5px 0px 5px;
}